html{
    font-size: 16px;
}

body{
    margin: 0;
}

header{
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(109, 5, 5);
}

header ul{
    position: fixed;
    left: 30%;
    margin: 0;
    top: 1rem;
}

header ul li{
    display: inline-block;
    text-align: center;
}

header ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 1.6rem;
    text-align: center;
}

.bottom-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(109, 5, 5);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
  }
  
  .nav-item {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .nav-item:hover {
    background-color: #555;
  }